<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>course</title>
</head>
<body>
    <center>
        <h1>insert course details</h1>
        <form action="" method="POST">
            {% csrf_token %}


            <label for="cno">course no</label>
            <input type="number" name="cno" id="cno">
            <br><br>
            <label for="cname">course name</label>
            <input type="text" name="cname" id="cname">
            <br><br>
            <label for="tname">trainer name</label>
            <input type="text" name="tname" id="tname">
            <br><br>
            <input type="submit">
        </form>
    </center>
</body>
</html>